@import url(https://db.onlinewebfonts.com/c/f94b11133a09564942c1d46914a036b6?family=Simply+Square+JL+V1);
@import url(https://db.onlinewebfonts.com/c/0483b4eeaaefc7b81986e43702c7900d?family=Prototype);

.otpBox {
  margin-left: 17px;
  margin-top: 5px;
  height: 50px;
  width: 50px;
  font-size: 20px;
  text-align: center;
}
.otpHead {
  font-family: "Simply square JL V1";
  text-align: center;
  color: red;
  letter-spacing: 7px;
  margin-top: 10px;
  font-weight: 800;
}
.otpSubHead {
  font-family: "prototype";
  text-align: center;
  color: white;
  letter-spacing: 3px;
  margin-top: 10px;
  font-weight: lighter;
}
.chavron {
  position: absolute;

  width: 50px;
  height: 50px;
  border-radius: 50%;

  padding: 5px;
  top: 130px;
  margin-left: 40px;
  cursor: pointer;
}
.chavron1 {
  position: absolute;

  width: 50px;
  height: 50px;
  border-radius: 50%;

  padding: 5px;
  top: 130px;
  margin-left: 40px;
  cursor: not-allowed;
}
.icon {
  width: 40px;
  height: 40px;
  margin-top: 2px;
  margin-left: 0px;
}

.otpInput {
  display: flex;
  height: 60px;
  width: 48%;
  background-color: red;
  margin-left: 150px;
}
.otp1 {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 70px;
  width: 50%;
  font-weight: bold;
  height: 40px;
  border-radius: 4px;
  background-color: red;
  color: white;
  font-size: 18px;
  letter-spacing: 6px;
  font-family: "Simply square JL V1";
  cursor: pointer;
}

.otp123 {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 70px;
  width: 50%;
  font-weight: bold;
  height: 40px;
  border-radius: 4px;
  background-color: red;
  color: white;
  font-size: 18px;
  letter-spacing: 6px;
  font-family: "Simply square JL V1";
  cursor: not-allowed;
}

.otp2 {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 70px;
  width: 50%;
  font-weight: bold;
  height: 40px;
  border-radius: 4px;
  background-color: red;
  color: white;
  font-size: 18px;
  letter-spacing: 6px;
  font-family: "Simply square JL V1";
  cursor: pointer;
}
.imgDiv1 {
  border: 2px solid rgb(234, 84, 84);
  border-radius: 50%;
  height: 110px;
  width: 110px;
  background-color: white;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 0px;
}
.pop {
  border: 4px solid black;
  background-color: whitesmoke;
  border-radius: 8px;
  height: 400px;
  overflow-y: auto;
  width: 30%;
  color: black;
  position: absolute;
  top: 20%;
  margin-left: 570px;
}
.mainContainerOtp {
  width: 100%;
  height: 900px;
  background-image: linear-gradient(to bottom, black, rgb(46, 37, 25));

  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 150px;
  /* padding-bottom: 40px; */
  padding-left: 0px;
  padding-right: 0px;

  /* position: fixed; */
}
.mainOtp {
  align-items: center;
  display: block;
  justify-content: center;
  height: 600px;

  width: 40%;
  margin-left: 450px;
  margin-right: 500px;
  margin-top: 0px;
  border-radius: 9px;
}
.main3 {
  align-items: center;
  display: block;
  justify-content: center;
  height: 600px;

  width: 40%;
  margin-left: 490px;
  margin-right: 500px;
  margin-top: 0px;
  border-radius: 9px;
  border: 2px solid BLACK;
  box-shadow: 1px 5px 20px rgb(25, 59, 127);

  filter: blur(5px);
  cursor: not-allowed;
}
.popDiv {
  display: flex;
  text-align: center;
}
.popHead {
  text-align: center;
  font-family: "Simply square JL V1";
  color: red;
  letter-spacing: 6px;
}
.popp {
  margin-left: 20px;
  text-align: left;
  font-family: "prototype";
  letter-spacing: 2px;
}
.error {
  color: red;

  text-align: center;
  margin-top: 30px;
  letter-spacing: 3px;
}
.popprimaryText {
  text-align: center;
  margin-top: "10px";
  margin-left: "-25PX";
}
