.subFooter1 {
  height: 300px;
  width: 60%;
  /* background-image: url("../../images/HomepageImages/timetravel2.jpg"); */
  background-size: 100% 400px;
  background-repeat: no-repeat;
  display: flex;
  /* background-color: black; */

  justify-content: center;
  align-items: center;
  position: relative;
  top: -50px;
  margin-left: 250px;
  cursor: pointer;
  margin-top: 100px;
}
.footerSub {
  display: block;
}
.subFooter1:hover .subChild1 {
  transform: translateX(0);
}
@keyframes slideInFromLeft {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

/* @keyframes slideInFromRight {
  0% {
    left: 100%;
  }
  100% {
    left: 0;
  }
} */

.subFooter2 {
  height: 100px;
  width: 100%;
  background-color: yellow;
}
.bodyH2 {
  color: white;

  font-size: 30px;
  animation: blink 1s infinite alternate;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.bodyH2:hover {
  color: yellow;
}
.h2Div {
  position: relative;
  top: 40%;
  left: -25%;
  width: 80%;
}
.subChild1 {
  height: 150px;
  width: 80%;
  border: 2px solid white;
  /* background-color: rgba(0, 0, 0, 0.541); */
  background-image: url("../../images/HomepageImages/blur.jpg");
  background-size: 100% 200px;
  background-repeat: no-repeat;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  box-shadow: 1px 15px 25px rgb(7, 48, 130);
  margin-top: 80px;
  /* transform: translateX(-250%);
  transition: transform 2s; */
  animation: zoomInOut 4s ease-out infinite;
  margin-left: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
@keyframes zoomInOut {
  0% {
    transform: scale(1); /* Start with the original size */
  }
  50% {
    transform: scale(
      0.5
    ); /* Zoom out to 50% size halfway through the animation */
  }
  100% {
    transform: scale(
      1
    ); /* Zoom back in to the original size at the end of the animation */
  }
}
.image1 {
  height: 120px;
  width: 180px;
  border-radius: 9px;
  margin-left: 40px;
}
.textAlign {
  text-align: center;
}
.spanFont1 {
  font-size: 20px;
  font-weight: 100px;
  font-family: robot;
  letter-spacing: 4px;
  color: white;
}
.spanFont2 {
  font-size: 16px;
  font-family: bold;
  color: white;
}
.button1 {
  margin-top: 40px;
  margin-left: 250px;
  border-radius: 6px;
  width: 150px;
  background-color: rgb(161, 37, 140);
  color: white;
  cursor: pointer;
  font-family: cursive;
}
.button1:hover {
  transform: scale(1.2);
}
