@import url(https://db.onlinewebfonts.com/c/f94b11133a09564942c1d46914a036b6?family=Simply+Square+JL+V1);

.Footer {
  height: 200px;
  width: 100%;
  /* background-image: linear-gradient(
    to right,
    rgb(73, 70, 70),
    rgba(255, 0, 0, 0.786)
  );
  background-size: 100% 150px; */
  display: flex;

  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  margin-top: -50px;
}
.FooterDiv1 {
  width: 60%;
  text-align: left;

  height: 120px;
}
.UlDiv1 {
  display: block;
  list-style-type: none;
  justify-content: center;

  text-align: left;
  margin-left: 350px;
  margin-top: 0px;
  line-height: 40px;
  color: white;
  /* font-family: robot; */
  font-family: "Simply Square JL V1";
  letter-spacing: 6px;
  font-size: 12px;

  box-sizing: border-box;
}
.liSpan {
  cursor: pointer;
}
.liSpan1 {
  cursor: pointer;
  margin-left: 1.6px;
  text-align: left;
}
.liSpan:hover {
  color: black;
}

.FooterDiv2 {
  width: 40%;

  height: 150px;
}

.UlDiv2 {
  display: block;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  text-align: left;

  margin-left: 10px;
  margin-top: 12px;
  line-height: 20px;
  margin-right: 20px;
  line-height: 42px;
  color: white;
  /* font-family: robot; */
  font-family: "Simply Square JL V1";
  letter-spacing: 6px;
  font-size: 12px;

  box-sizing: border-box;
}
.i {
  margin-right: 20px;
  height: 15px;
  width: 15px;
}
.a {
  text-decoration: none;
  color: white;
  margin-left: 10px;
}
.a:hover {
  color: yellow;
  font-weight: 700;
}
